<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Goldman&family=Montserrat&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <title>Emotion Based Music Player</title>
  </head>
  <body>
    <header id="first">



    <nav class="navbar navbar-expand-lg navbar-light ">
<a class="navbar-brand" href="#" id="log">Genie Technotats</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#second">Our Product </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#diva">Developers</a>
    </li>

</nav>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 id="erd">&nbsp&nbspNewly Developed</h4>
      <h2 id="we">EMOTION BASED MUSIC PLAYER    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_yEvR1T.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;float:right;margin-top:-50px;"  loop  autoplay></lottie-player></h2>
      <p id="wes">How cool it will be if there is a music player that plays songs based on your mood? That is what our web application does. Just by merely taking the users face as an input, the application will detect the emotion of the user using AI/Ml algorithms. The pre-existing technologies requires user to manually select the playlist/songs based on their moods. However, our application automates this task. This makes it convenient for the user to listen songs based on their emotions. This technology proves</p>
      <button type="button" class="btn btn-danger btn-lg" id="sdq">Technobooz</button>
      </div>
    <div class="col">
    <img src="static/pnad.png" id="rem"alt="">

    </div>


    </div>



</div>



    </header>
    <br>
    <br>
    <br>
    <section><h4 id="wa">Technology Stack</h4>
      <div class="middle">
<div class="counting-sec">
  <div class="inner-width">
    <div class="col" id="lk">

    <div class="num"><img src="static/python.png" id="ims"alt=""></div>
    </div>

    <div class="col" id="lk">
    <div class="num"><img src="static/tens.png" id="ims"alt=""></div>

    </div>
    <div class="col" id="lk">
    <div class="num"><img src="static/nu.png" id="ims" alt=""></div>

    </div>
    <div class="col" id="lk">
    <div class="num"><img src="static/op.png" id="ims" alt=""></div>

    </div>
    <div class="col" id="lk">
    <div class="num"><img src="static/fla.png" id="ims" alt=""></div>

    </div>


  </div>

</div>

</div>
    </section>
    <br>

    <br>

<h2 id="sde">Product Developed</h2>
    <section id="second">
      <br>

      <iframe controls width="830" height="500"id="vid" loop muted="1" autopause="0"
                 src="{{ url_for('video_feed') }}">
             </iframe>

    </section>
    <br>
    <br>
    <h2 id="dev">Developers</h2>
    <section id="diva">
      <div class="containera ">
            <div class="inner">
              <div class="info">
                <img src="static/member1.jpeg" id="img">
              <h1 class="main">
                Muzamil Sait A
              </h1>
              <h2>
                IT department
              </h2>
                <p>
                  KCG College of Technology ,<br> III year
                </p>
                <a href="https://www.linkedin.com/in/muzammil-sait-83566319a/" target="_blank"></a><button>
                    Linked IN
                </button>
              </div>
            </div>
            <div class="inner">
              <div class="info">
                <img src="static/membera4.JPG" id="img">
              <h1 class="main">
                Antony Raj A
              </h1>
              <h2>
                IT department
              </h2>
                <p>
                  KCG College of Technology ,<br> III year
                </p>
              <a href="https://www.linkedin.com/in/antony-raj-a-62365a172/" target="_blank">  <button>
                    Linked IN
                </button>
                </a>
              </div>
            </div>
            <div class="inner">
              <div class="info">
                <img src="static/member4.jpeg" id="img">
              <h1 class="main">
                Staffin T shabu
              </h1>
              <h2>
                IT department
              </h2>
                <p>
                  KCG College of Technology ,<br> III year
                </p>
                <a href="https://www.linkedin.com/in/staffin77/" target="_blank"><button>
                    Linked IN
                </button></a>
              </div>
            </div>
            <div class="inner">
              <div class="info">
                <img src="static/member6.jpeg" id="img">
              <h1 class="main">
                Dhanush s
              </h1>
              <h2 id="edwa">
                IT department
              </h2>
                <p id="edw">
                  KCG College of Technology , <br>III year
                </p>
                <a href="https://www.linkedin.com/in/dhanush-s-33099a94/" target="_blank"><button>
                    Linked IN
                </button></a>
              </div>
            </div>
          </div>

    </section>



  </body>
</html>
